@import '../../styles/globals.scss';
.header{
    background: $white;
    height: calc(50px + 5vw);
    box-shadow: 0px -42px 61px -17px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0px -42px 61px -17px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0px -42px 61px -17px rgba(0,0,0,.3) inset;
    img{
        width: calc(100px + 8vw); 
    }
}