@import '../../styles/globals.scss';
.container{
    display: flex;
    width: 100%;
 flex-wrap: wrap;
justify-content: center;
gap: 2vw;
padding: 0 2vw;
background: black;

}

.h2{
    font-size: calc(16px + 3vw);
    padding-left: 4vw;
    color: $white;
    margin: 2rem 0;
}
.loader{
    width: calc(300px + 20vw) !important;
    height: calc(300px + 20vw) ;
}