@import '../../styles/globals.scss';
.container{
    display: flex;
    width: 100%;
 flex-wrap: wrap;
justify-content: center;
gap: 3rem;
padding: 2vw;

margin-top: 3vw;
}


.h2{
    font-size: calc(16px + 3vw);
    padding-left: 4vw;
}